.contactoPage{
    padding: 40px;
    display: flex;
    /* height: calc(100vh - 56px); */
    width: 100%;
    color: white;
    p{
        span {
            color: rgb(253, 107, 39);
        }
    }
}
.datosPage{
    width: 50%;
    height:100%;
    padding-right: 50px;
    /* border: solid 1px rgb(251, 255, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p{
        margin-top: 20px;
    }
}
.comentarioPage{
    width: 50%;
    height:100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:rgb(44, 47, 51);
    a{
        @include boton(20px, 12px, 700, 10px);
        @extend %boton;
        width: 120px;
    }
    a:before{
        @extend %animacion-boton;
    }
    a:hover:before{
        width: 100%;
    }
}