.nosotrosPage {
        color:$color-gris2;
        font-size: 20px;
        padding: 8% 10% 5% 10% ;
        p{
            text-align: center;
            span{
                color:$color-gris;
                text-align: center;
                font-size: 30px;
            }
        }
}