footer {
    background-color: rgb(21, 21, 21);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    div{
        h2{
            color:$color-gris  ;
            font-size: $subtitulos-size;
        }
        img {
            width: 50px;
        }
    }
    iframe {
        width: 200px;
        height: auto;
        margin: 20px;
    }
}